<!doctype html>
<html lang="en">
  <head>
      <% include partials/head.ejs %>    
  </head>

  <body>
      <title>About</title>
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-sm-center">
      <% include partials/header.ejs %>      
      <main role="main" class="inner cover" style="height: 80vh; border-right: 1px solid white; display: flex; align-items:center;  border-left: 1px solid white; align-items: center; text-align: center; justify-content: center; align-content: center; ">
        <div style="display: flex; flex-direction: column; justify-items: center; align-items: center; text-align: center; justify-content: center; align-content: center;">
          <p class="lead">Cinemated also contains <a href="/developer/v1"><ins>API</ins></a> & <a href="http://t.me/CinematedBot"><ins>BOT</ins></a></p>
          <p class="lead">To connect with creator follow the link</p>
          <div id="axis" class="four">
              <img class="object coin move-down" src="/views/arrow.svg">
              </div>            
         </div>
      </main>
      <footer class="mastfoot" style=" display: flex;  justify-content: center; text-align: center;">       
          <h6>by <a href="https://t.me/Svetocvet"> Svetocvet</a> </h6>  
     </footer>
    </div>

  </body>
</html>
