<!doctype html>
<html lang="en">
  <head>
      <% include partials/head.ejs %> 
      <title>Registration</title>   
  </head>

  <body>
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-sm-center"> 

      <% include partials/header.ejs %>  
      
      <main role="main" class="inner cover" style="min-height: 80vh; height: 100%; border-right: 1px solid white; display: flex; align-items:center;  border-left: 1px solid white ">
         
        <div class="container" style="height: 100%; display: flex; align-items:center; justify-content: center" >

          <form action="/auth/register" id="form" method="POST" style=" display: flex; align-items:center; justify-content: center; flex-direction: column;" novalidate >            
              
              <h2 align="center">Registration</h2>
              <p>Please fill in this form to create an account.</p>
              <hr style="color: #fff; background-color: #fff; height: 1px; width: 100%;">
              <div class="alert alert-danger" id="alert" style="display: none"></div>
              <div class="alert alert-danger" id="alert2" style="display: none"></div>
              <p>              
              <input autocomplete="off" class="invalid" type="text" id="fullname" placeholder="Enter Fullname" name="fullname" maxlength="50" required pattern="(?=.*[a-z])">
              <span class="error" aria-live="polite"></span>
              </p>
              <p>              
              <input autocomplete="off" type="text" id="username" placeholder="Enter Username" name="username" pattern="(?=.*[a-z]).{8,}" maxlength="50" required ">
              </p>
              <p>             
              <input autocomplete="off" id="password" type="password" placeholder="Pass (8+, 1 digit at least)"  pattern="(?=.*\d)(?=.*[a-z]).{8,}" name="password" maxlength="50" required>
              </p>
              <p style="margin-bottom: 0rem;">          
              <input autocomplete="off"  id="repassword" type="password" placeholder="Repeat Password"  name="repeat" pattern="(?=.*\d)(?=.*[a-z]).{8,}" maxlength="50" required >
              </p>
              <hr style=" color: #fff; background-color: #fff; height: 1px; width: 100%;">    
              <button autocomplete="off" type="submit" class="btn btn-lg btn-secondary m-auto" >Register</button> 
             
              
        
              <p>
                <div class="container signin" ">
                  <p style="text-align: center;">Already have an account? <a href="/auth/login"><ins>Log in</ins></a>  || <a href="/auth/github" class="fa fa-github"></a></p>
                  
                </div>
            </p>
          </form>   
          <script src="../public/javascripts/validation.js"></script>    
          <script src="../public/javascripts/token.js"></script> 
        </div>        
      </main>
      <% include partials/footer.ejs %>
    </div>
  </body>
</html>

             
             